@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: #D4AA70 #e4e4e4;
}
.fade-in-section {
  opacity: 0;
 
  transform: translateY(3vh);
  visibility: hidden;
  transition: opacity 3s ease-out, transform 3s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}
